.Container{
    display: block;
    width: 300px;
    background: linear-gradient(180deg, rgba(113,128,241,0.9192051820728291) 35%, rgba(224,57,232,0.7679446778711485) 49%);
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    margin-left: 40px;
    margin-top: 40px;
}
.Profile{
    font-size: 20px;
    font-style: bold;
}
.Tag{
    font-size: 15px;
    color: gray;
}

.Stats{
    display: block;
    align-items: center;
    text-align: center;
    list-style: none;
}
.Profile img{
    margin-left: auto;
    margin-right: auto;
}